/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker-compose
/docker-compose/mariadb
/docker-compose/mariadb/data
/docker-compose/mariadb/initdb